/* Main */
body,
html {
  overflow: hidden;
  width: 100vw;
}

h1 {
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

#art{
  width: 50rem;
  position: absolute;
  overflow: hidden;
  bottom: -10em;
  right: -10em;
}

/* Elements */
#bm {
  width: 2em;
  display: none;
}

#spark {
  position: absolute;
  left: 25%;
  top: -10%;
  width: 1000px;
  overflow: hidden;
  display: none;
}

#reset {
  position:absolute;
  top:0;
  right: 0;
  margin: 1em;
  display: none;
}

/* shadows */
.card-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}