/* Main */
body,
html {
  overflow: hidden;
}

h1 {
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

/* Elements */
#bm {
  width: 2em;
  display: none;
}

#spark {
  position: absolute;
  right: 0;
  top: 0;
  width: 100em;
  overflow: hidden;
  display: none;
  mix-blend-mode: overlay;
}

#reset {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em;
  display: none;
}

/* shadows */
.shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.123), 0 3px 6px rgba(0, 0, 0, 0.23);
}