/* Main */
body,
html {
  overflow: hidden;
}

/* Elements */
#bm {
  width: 2em;
  display: none;
}

#spark {
  position: absolute;
  left: 25%;
  top: -10%;
  width: 1000px;
  overflow: hidden;
  display: none;
}

#reset {
  position:absolute;
  top:1em;
  right: 1em;
  display: none;
}

/* interactions */
#noClick {
  width: 2em;
  display: block;
}

/* shadows */

.card-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}